<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type">
	<title>Welcome to smartweb</title>
	<%
		if(request.session.views) {
			request.session.views++;
			curViews=request.session.views;
		}
		else {
			request.session.views=1;
		}
		
	%>
</head>
<body>
Welcome to smartweb. <br><br>

The views is <%=request.session.views%>.
</body>
</html>